<%- include("../includes/header.ejs", {title:"Account - " + result[0].account_name}); %>
<h1>Account</h1>
<ul>
    <li>Account Name: <%= result[0].account_name %></li>
    <li>Accounts:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].street + ', ' + result[i].zip_code %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>