<%- include("../includes/header.ejs", {title:"Skills - " + result[0].skill_name}); %>
<h1>Skill</h1>
<ul>
    <li>skill Name: <%= result[0].skill_name %></li>
    <li>Address(es):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].street + ', ' + result[i].zip_code %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>